<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
  <mat-card class="box">
    <mat-card-header>
      <mat-card-title>Register</mat-card-title>
    </mat-card-header>

    <form class="example-form" [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
      <mat-card-content>

        <mat-form-field class="example-full-width">
          <input matInput placeholder="First Name" name="firstName" formControlName="firstName" required>
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input matInput placeholder="Last Name" name="lastName" formControlName="lastName" required>
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input matInput placeholder="Username" name="username" formControlName="username" required>
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input type="email" matInput placeholder="Email Address" name="email" formControlName="email" required>
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input type="tel" matInput placeholder="Phone Number" name="phone" formControlName="phone" required>
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input type="password" matInput placeholder="Password" name="password" formControlName="password">
        </mat-form-field>

      </mat-card-content>

      <button mat-raised-button color="accent" class="btn-block">Register</button>

    </form>
  </mat-card>
</div>
