
<mat-toolbar color="primary" class="expanded-toolbar">
    <span>
      <button mat-button routerLink="/home"><mat-icon>dashboard</mat-icon> Dashboard</button>
    </span>
  <div fxLayout="row" fxShow="false" fxShow.gt-sm>
    <button mat-button routerLink="/login">
      <mat-icon>power_settings_new</mat-icon>
      Login
    </button>
    <button mat-button routerLink="/register">
      <mat-icon>power_settings_new</mat-icon>
      Register
    </button>
    <button mat-button>
      <mat-icon>exit_to_app</mat-icon>
      Logout
    </button>
    <button mat-button routerLink="/game">
      <mat-icon>gamepad</mat-icon>
      Play
    </button>
    <button mat-button routerLink="/about">
      <mat-icon>info</mat-icon>
      About Us
    </button>
    <button mat-button routerLink="/contact">
      <mat-icon>phone</mat-icon>
      Contact Us
    </button>
  </div>
  <button mat-button [mat-menu-trigger-for]="menu" fxHide="false" fxHide.gt-sm>
    <mat-icon>menu</mat-icon>
  </button>
</mat-toolbar>
<mat-menu #menu="matMenu">
  <button mat-menu-item routerLink="/">
    <mat-icon>home</mat-icon>
    Home
  </button>
  <button mat-menu-item routerLink="/game">
    <mat-icon>gamepad</mat-icon>
    Play
  </button>
  <button mat-menu-item routerLink="/about">
    <mat-icon>info</mat-icon>
    About Us
  </button>
  <button mat-menu-item routerLink="/contact">
    <mat-icon>phone</mat-icon>
    Contact Us
  </button>
  <button mat-menu-item routerLink="/login">
    <mat-icon>power_settings_new</mat-icon>
    Login
  </button>
  <button mat-menu-item>
    <mat-icon>exit_to_app</mat-icon>
    Logout
  </button>
</mat-menu>
<router-outlet></router-outlet>
